

html, body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 16px;
}

* {
     box-sizing: border-box;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.05)), url('../image/Netflix-Background.jpg');
    height: 900px;
}

nav img {
    width: 167px;
    height: 165px;
    vertical-align: middle;
}

nav a.logo {
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
    margin-top: -37px;
}

header nav {
     height: 90px;   
}



.logowanie {
    float: right;
    font-size: 16px;
    color: white;
    background-color: #E50914;
    border-radius: 3px;
    margin-top: 18px;
    margin-right: 45px;
    text-decoration:none; 
    text-align: center;
    padding: 9px 17px;
}

.logowanie:hover, .btn:hover {
    background-color: #F40612;
}
.pitch {
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
}

.pitch_title {
     font-size: 3em;   
     margin: 0 0 0.2em;
     font-weight: 700;
    letter-spacing: 1px;
}

.pitch_subtitle {
     text-transform: uppercase;
     margin: 0 0 .5em;
}

.btn {
    background-color: #E50914;
    padding: 14px 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}



#features > nav {
    padding-top: 35px;
    background-color: #141414;  
    border-bottom: 2px solid #3d3d3d;
}

#features > nav a {
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color: #777;
    height: 125px;
    line-height: 20px;
}

#features > nav a:hover {
    color: #fff;
}


#features > nav a img {
    height: 49px;
}

#features > nav a h2 {
    margin: 10px 0 0;
    font-size: 1em;
}

.columns {
    display: flex;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.center {
    margin: 0 auto;
}

.size-80 {
    width: 80%;
}

#features > nav a.is-selected {
    border-bottom: 5px solid #e50914;
    color: white;
}

#features > article > section {
    display: none !important;
    padding: 40px 0px;
}

#features  > article >  section.is-selected {
    display: block;
}









/*
.tabs-container {
}

.tabs-container .tab-content {
    display: none;
    padding: 40px 0;
}
*/

/*
.tabs-container.js .tab-content {
    display: none;
    padding: 40px 0;
}
*/

/*
.tabs-container .tab-content.is-selected {
    display: block;
}
*/

